.navbar {
    background-color: lavender;
    padding: 20px;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    margin-right: 25px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .navbar-item a:hover {
    color: darkslateblue;
  }
  .navbar-logo {
    height: 100px; 
    width: 100px;
    margin-right: 65%;
    border-radius: 5px;
  }
  /* @media (min-width: 2560px) {
    .navbar-logo {
      margin-right: 73%;
    }
    .navbar {
      padding: 20px;
      height: 100px; 
    }
    .navbar-item a {
      font-size: 40px;
    }
  } */
  /* @media (min-width: 1440px) {
    .navbar-item a {
      font-size: 30px;
    }
    .navbar-logo {
      margin-right: 57%;
    }
  } */