.cv-container {
    margin-bottom: 100px;
}

.name-title {
    font-size: 50px;
    color: rgb(40, 221, 224);
}

.cv-year {
    font-weight: bold;
}

.cv-container {
    margin-left: 3%;
}

h2 {
    color: rgb(40, 221, 224);
}
/* @media (min-width: 1440px   ) {
    body {
        font-size: 30px;
    }
    .cv-container {
        margin-bottom: 12%;
    }
  } */
/* @media (min-width: 2560px) {
    body {
        font-size: 40px;
    }
  } */
